@media only screen and (max-width: 1137px) {
  .blog__card {
    width: 100%;
    margin: auto;
    padding: auto;
  }
}
.logo {
  width: 7vw;
}
.blog__card {
  text-align: center;
  padding: 1% 5%;
  background-color: white;
  width: 1000px;
  margin: auto;
  box-shadow: rgb(87, 90, 168) 0px 13px 27px -5px,
    rgba(255, 0, 0, 0.3) 0px 8px 16px -8px;
}

.fa-heart {
  font-size: 30px;
  cursor: pointer;
}
.fa-comment-o {
  font-size: 30px;
  cursor: pointer;
}
.fa-trash-o {
  font-size: 30px;
  cursor: pointer;
}
.fa-edit {
  font-size: 30px;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.red {
  color: red;
}

li {
  list-style: none;
}
.comment {
  width: 200%;
  text-align: center;
  margin: 4% 4% 0% 4%;
  overflow: auto;
  height: 20vh;
}

.fa-comment-o {
  color: black;
}
